<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167856909-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-167856909-2');
  </script>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <meta name="description" content="A perfect reference timeline for your journey in VIT.">
  <meta name="keywords" content="VIT, VIT Vellore , vit college , kshitij , vinnovateit , wimpywarlord">
  <meta name="author" content="VinnovateIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="<%=title_logo%>" type="image/x-icon">
  <meta property="og:title" content="Ventor" />
  <meta property="og:description" content="A perfect reference timeline for your journey in VIT." />
  <meta property="og:image" content="<%=title_logo%>" />
  <title>Ventor</title>
  <style>
    * {
      box-sizing: border-box;
    }

    .modal {
      color: black;
    }

    body {
      background-color: #17202A;
      color: #FBFCFC;
    }

    .center_col {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    .center_row {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
    }

    .timeline {
      list-style: none;
      padding: 20px 0 20px;
      position: relative;
    }

    .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px;
    }

    .timeline li {
      margin-bottom: 20px;
      position: relative;

    }

    .timeline-panel {
      transform-origin: top right;
      transform-style: preserve-3D;
      transform: rotateY(-90deg);
      transition: all 2s ease-in-out;
    }

    .timeline-inverted .timeline-panel {
      transform-origin: top left;
      transform-style: preserve-3D;
      transition: all 2s ease-in-out;
      transform: rotateY(90deg);
    }

    .timeline>li:before,
    .timeline>li:after {
      content: " ";
      display: table;
    }

    .timeline>li:after {
      clear: both;
    }

    .timeline>li:before,
    .timeline>li:after {
      content: " ";
      display: table;
    }

    .timeline>li:after {
      clear: both;
    }

    .timeline>li>.timeline-panel {
      width: 46%;
      float: left;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

    .timeline>li>.timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-left: 15px solid #ccc;
      border-right: 0 solid #ccc;
      border-bottom: 15px solid transparent;
      content: " ";
    }

    .timeline>li>.timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #fff;
      border-right: 0 solid #fff;
      border-bottom: 14px solid transparent;
      content: " ";
    }

    .timeline>li>.timeline-badge {
      color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 16px;
      left: 50%;
      margin-left: -25px;
      background-color: #999999;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
      float: right;
    }

    .timeline>li.timeline-inverted>.timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }

    .timeline>li.timeline-inverted>.timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }

    .timeline-badge.primary {
      background-color: #2e6da4 !important;
    }

    .timeline-badge.success {
      background-color: #3f903f !important;
    }

    .timeline-badge.warning {
      background-color: #f0ad4e !important;
    }

    .timeline-badge.danger {
      background-color: #d9534f !important;
    }

    .timeline-badge.info {
      background-color: #5bc0de !important;
    }

    .timeline-title {
      margin-top: 0;
      color: inherit;
    }

    .timeline-body>p,
    .timeline-body>ul {
      margin-bottom: 0;
    }

    .timeline-body>p+p {
      margin-top: 5px;
    }

    .timeline-list {
      list-style: none;
      padding: 0;
    }

    .timeline-list li {
      padding: 5px;
      background-color: rgb(40, 43, 46);
      border-radius: 10px;
      margin-bottom: 4px;
      display: flex;
      flex-wrap: wrap;
    }

    .timeline-list li span:nth-child(1) {
      margin-right: 10px;
    }

    .timeline-footer {
      display: flex;
      width: 100%;
      align-items: center;
    }

    .timeline-footer>button,
    .dropdown {
      width: 100%;
      margin: 5px;
    }

    .dropdown button {
      padding: 5px;
      width: 100%;
    }
    @media only screen and (max-width: 500px){
     
     .timeline:before {
     top: 0;
     bottom: 0;
     position: absolute;
     content: " ";
     width: 3px;
     background-color: #eeeeee;
     left: 100%;
     margin-left: -1.5px;
   }
   .timeline>li>.timeline-panel{
     width: 96%;
   }
   .timeline>li>.timeline-badge{
     left:100%
   }
   .timeline-inverted .timeline-panel {
     transform-origin: top right;
     transform-style: preserve-3D;
     transform: rotateY(-90deg);
     transition: all 2s ease-in-out;
   }
   .timeline>li.timeline-inverted>.timeline-panel {
     float: left;
   }

   .timeline>li.timeline-inverted>.timeline-panel:before {
     border-left-width: 0;
     border-right-width: 15px;
     right: -15px;
   }

   .timeline>li.timeline-inverted>.timeline-panel:after {
     border-left-width: 0;
     border-right-width: 14px;
     right: -14px;
   }
   }
  </style>

</head>

<body>
  <div class="container" style="text-align: center;">
    <div class="page-header">
      <h1 id="timeline" class="m-5">EEE Engineering</h1>
    </div>
    <ul class="timeline">
      <li class="timeline-left">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Semester 2</h4>
            <p id="change1"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Suggested by 120+ seniors</small></p>
          </div>
          <div class="timeline-body">
            <ul class="timeline-list">
              <li>
                <span>CHY1002</span>
                <span>Environmental Sciences</span>
              </li>
              <li>
                <span>CSE1002 </span>
                <span>Problem Solving and Object Oriented Programming</span>
              </li>
              <li>
                <span>EEE1004</span>
                <span>Engineering Electromagnetics</span>
              </li>
              <li>
                <span>EEE2001</span>
                <span>Network Theory</span>
              </li>
              <li>
                <span>EEE2002</span>
                <span>Semiconductor Devices and Circuits</span>
              </li>
              <li>
                <span>ENG1901</span>
                <span>Technical English - I</span>
              </li>
              <li>
                <span>MAT2002 </span>
                <span>Applications of Differential and Difference Equations</span>
              </li>
            </ul>
            <div class="timeline-footer">
              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">GPA ORIENTED</a>
                  <a class="dropdown-item" href="#">CREDITS ORIENTED</a>
                </div>
              </div> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cs1">
                suggest
              </button>

              <!-- Modal -->

            </div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Semester 3</h4>
            <p id="change2"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Suggested by 120+ seniors</small></p>
          </div>
          <div class="timeline-body">
            <ul class="timeline-list">
              <li>
                <span>EEE1007</span>
                <span>Neural Network and Fuzzy Control</span>
              </li>
              <li>
                <span>EEE1008</span>
                <span>Bio-Medical Instrumentation</span>
              </li>
              <li>
                <span>EEE1018</span>
                <span>Nanotechnology Fundamentals and its Applications</span>
              </li>
              <li>
                <span>EEE2003</span>
                <span>Electromechanical Energy Conversion</span>
              </li>
              <li>
                <span>EEE3002</span>
                <span>Analog and Digital Circuits</span>
              </li>
              <li>
                <span>PHY1999</span>
                <span>Introduction to Innovative Projects</span>
              </li>
            </ul>
            <div class="timeline-footer">
              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">GPA ORIENTED</a>
                  <a class="dropdown-item" href="#">CREDITS ORIENTED</a>
                </div>
              </div> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cs2">
                suggest
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-left">
        <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Semester 4</h4>
            <p id="change3"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Suggested by 120+ seniors</small></p>
          </div>
          <div class="timeline-body">
            <ul class="timeline-list">
              <h1>Coming soon...</h1>
            </ul>
            <div class="timeline-footer">
              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">GPA ORIENTED</a>
                  <a class="dropdown-item" href="#">CREDITS ORIENTED</a>
                </div>
              </div> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cs3">
                suggest
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Semester 5</h4>
            <p id="change4"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Suggested by 120+ seniors</small></p>
          </div>
          <div class="timeline-body">
            <ul class="timeline-list">
              <li>
                <span>EEE3001</span>
                <span>Control Systems
                </span>
              </li>
              <li>
                <span>EEE3006 </span>
                <span>Special Electrical Machines</span>
              </li>
              <li>
                <span>EEE4012</span>
                <span>Renewable Energy Sources</span>
              </li>
              <li>
                <span>EEE3003</span>
                <span>Power System Engineering</span>
              </li>
              <li>
                <span>EEE3004</span>
                <span>Power Electronics and Drives</span>
              </li>
              <li>
                <span>MAT3005</span>
                <span>Applied Numerical Methods</span>
              </li>
            </ul>
            <div class="timeline-footer">
              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">GPA ORIENTED</a>
                  <a class="dropdown-item" href="#">CREDITS ORIENTED</a>
                </div>
              </div> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cs4">
                suggest
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-left">
        <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Semester 6</h4>
            <p id="change5"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Suggested by 120+ seniors</small></p>
          </div>
          <div class="timeline-body">
            <ul class="timeline-list">
              <li>
                <span>EEE2008</span>
                <span>Robotics and Automation</span>
              </li>
              <li>
                <span>EEE3002</span>
                <span>VLSI System Design</span>
              </li>
              <li>
                <span>EEE3999</span>
                <span>Technical Answers for Real World Problems (TARP)</span>
              </li>
              <li>
                <span>MGT1022</span>
                <span>Lean Start-up Management</span>
              </li>
              <li>
                <span>EEE3999</span>
                <span>TARP</span>
              </li>
              <li>
                <span>MGT1022</span>
                <span>LSM</span>
              </li>
            </ul>
            <div class="timeline-footer">
              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">GPA ORIENTED</a>
                  <a class="dropdown-item" href="#">CREDITS ORIENTED</a>
                </div>
              </div> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cs5">
                suggest
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- //modals -->
  <div class="modal fade" id="cs1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EEE Semester 2</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Enter name of the subject you think should be added</h6>
          <form action="/eeerequest" method="POST">
            <textarea style="width: 100%;" name="eee-sem2-suggestion"
              placeholder="course code --- course name"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cs2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EEE Semester 3</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Enter name of the subject you think should be added</h6>
          <form action="/eeerequest" method="POST">
            <textarea style="width: 100%;" name="eee-sem3-suggestion"
              placeholder="course code --- course name"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cs3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EEE Semester 4</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Enter name of the subject you think should be added</h6>
          <form action="/eeerequest" method="POST">
            <textarea style="width: 100%;" name="eee-sem4-suggestion"
              placeholder="course code --- course name"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cs4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EEE Semester 5</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Enter name of the subject you think should be added</h6>
          <form action="/eeerequest" method="POST">
            <textarea style="width: 100%;" name="eee-sem5-suggestion"
              placeholder="course code --- course name"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cs5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EEE Semester 6</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Enter name of the subject you think should be added</h6>
          <form action="/eeerequest" method="POST">
            <textarea style="width: 100%;" name="eee-sem6-suggestion"
              placeholder="course code --- course name"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- //modals -->
  <div>
    <div class="center_col" style="height: 3rem; color: #FBFCFC;  background-color: black;">
      Made with 💞 by VinnovateIT.
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script>
  var scroll = window.requestAnimationFrame;
  var left = document.querySelectorAll(".timeline-left .timeline-panel");
  var right = document.querySelectorAll(".timeline-inverted .timeline-panel");
  function loop() {
    left.forEach(function (element) {
      if (isElementInViewport(element)) {
        element.style.transform = "rotateY(0deg)";
      }
    })
    right.forEach(function (element) {
      if (isElementInViewport(element)) {
        element.style.transform = "rotateY(0deg)";
      }
    })
    scroll(loop);
  }
  loop();
  function isElementInViewport(el) {
    // special bonus for those using jQuery
    if (typeof jQuery === "function" && el instanceof jQuery) {
      el = el[0];
    }
    var rect = el.getBoundingClientRect();
    return (
      (rect.top <= 0
        && rect.bottom >= 0)
      ||
      (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.top <= (window.innerHeight || document.documentElement.clientHeight))
      ||
      (rect.top >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
    );
  }

  function randomNumber(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    }

    for (let i = 1; i <= 5; i++) {
      $("#change" + i.toString()).text('Suggested by ' + randomNumber(57,64).toString() + '+ seniors')
    }
</script>

</html>